In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
users = pd.read_csv('users.csv')
repos = pd.read_csv('repositories.csv')

In [3]:
users

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,ValentineFernandes,Valentine Fernandes,NaN,"Mumbai, India",NaN,NaN,HTML | CSS | JS | SQL | MYSQL | JAVA,66,5252,5275,2022-01-29T08:11:37Z
1,kovidgoyal,Kovid Goyal,NaN,"Mumbai, India",NaN,NaN,Principal developer of calibre and kitty,37,4297,0,2012-01-06T05:38:24Z
2,slidenerd,slidenerd,SLIDENERD,Mumbai,slidenerd@gmail.com,True,"Bots, AI, advanced web frameworks, ohlc applic...",113,3167,1,2013-08-01T14:17:19Z
3,aryashah2k,Arya Shah,OPENAOD,"Mumbai, India",NaN,NaN,Computer Science Major | Machine Learning | So...,88,2601,2583,2020-11-03T03:06:19Z
4,coding-parrot,Gaurav Sen,INTERVIEWREADY,"Mumbai, India",NaN,NaN,CEO of InterviewReady,11,2416,0,2020-01-03T14:13:35Z
...,...,...,...,...,...,...,...,...,...,...,...
720,mufassirkazi,Mufassir Kazi,NaN,Mumbai,NaN,NaN,Low-code backend - right on your finger tips.,3,51,1531,2018-12-23T13:52:01Z
721,mdjawedh022,Md Jawed Hussain,MASAI SCHOOL,"Mumbai, Maharashtra",NaN,NaN,Aspiring full-stack web development profession...,55,51,17,2022-06-22T06:30:44Z
722,sonusathyadas,Sonu Sathyadas,SYNERGETICS INDIA PVT LTD,Mumbai,sonusathyadas@hotmail.com,NaN,I have 14+ years of corporate training experie...,72,51,2,2016-05-09T08:21:39Z
723,vidit0210,Vidit Shah,NaN,Mumbai,NaN,NaN,NaN,8,51,1,2014-06-19T19:06:50Z
724,krittikaiitb,Krittika,NaN,"Mumbai, India",krittika.club@iitb.ac.in,NaN,We are the Astronomy Club of IIT Bombay,9,51,0,2019-12-25T08:15:19Z

In [4]:
repos

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name
0,ValentineFernandes,ValentineFernandes/Food-Website,2022-06-01T17:20:57Z,54,54,HTML,True,True,mit
1,ValentineFernandes,ValentineFernandes/DentalClinic-Website,2022-06-02T10:28:55Z,60,60,HTML,True,True,mit
2,ValentineFernandes,ValentineFernandes/ValentineFernandes,2022-02-12T09:27:51Z,59,59,NaN,True,False,NaN
3,ValentineFernandes,ValentineFernandes/PetDog-Complete-Website,2022-03-24T07:17:59Z,55,55,HTML,True,True,mit
4,ValentineFernandes,ValentineFernandes/MySQL-Assignment,2022-10-10T13:59:53Z,12,12,NaN,True,True,mit
...,...,...,...,...,...,...,...,...,...
41368,krittikaiitb,krittikaiitb/2022_convener_selections,2022-05-10T20:01:57Z,0,0,Jupyter Notebook,True,True,NaN
41369,krittikaiitb,krittikaiitb/KSP2022-selection,2022-06-07T06:09:36Z,5,5,Jupyter Notebook,True,True,NaN
41370,krittikaiitb,krittikaiitb/KSP2021-selection,2021-06-23T12:00:57Z,5,5,Jupyter Notebook,True,True,NaN
41371,krittikaiitb,krittikaiitb/Scratchboard,2020-04-05T15:45:32Z,2,2,Jupyter Notebook,True,True,NaN
41372,krittikaiitb,krittikaiitb/SciCompGC,2020-02-12T21:25:25Z,2,2,Jupyter Notebook,True,True,NaN

# Questions
## Q1
 Who are the top 5 users in Mumbai with the highest number of followers? List their login in order, comma-separated.

In [5]:
','.join(users.sort_values('followers', ascending=False)[:5]['login'])

'ValentineFernandes,kovidgoyal,slidenerd,aryashah2k,coding-parrot'

## Q2
Who are the 5 earliest registered GitHub users in Mumbai? List their login in ascending order of created_at, comma-separated.

In [6]:
','.join(users.sort_values('created_at', ascending=True)[:5]['login'])

'ivank,sandeepshetty,svs,nitinhayaran,nischal'

## Q3
What are the 3 most popular license among these users? Ignore missing licenses. List the license_name in order, comma-separated.

In [7]:
license_counts = repos.groupby('license_name').count().reset_index()
','.join(license_counts.sort_values('login', ascending=False)[:3]['license_name'])

'mit,apache-2.0,other'

## Q4
Which company do the majority of these developers work at?

In [8]:
company_counts = users.groupby('company').count().reset_index()
company_counts.sort_values('login', ascending=False)[:1]['company']

193    MASAI SCHOOL
Name: company, dtype: object

## Q5
Which programming language is most popular among these users?

In [9]:
lang_counts = repos.groupby('language').count().reset_index()
lang_counts.sort_values('login', ascending=False)[:1]['language']

55    JavaScript
Name: language, dtype: object

## Q6
Which programming language is the second most popular among users who joined after 2020?

In [10]:
recent_user_logins = users[users['created_at'] > '2020-12-31']['login']
target_repos = repos[repos['login'].isin(recent_user_logins)]
recent_lang_counts = target_repos.groupby('language').count().reset_index()
recent_lang_counts.sort_values('login', ascending=False)[1:2]['language']

14    HTML
Name: language, dtype: object

## Q7
Which language has the highest average number of stars per repository?

In [11]:
repos.groupby('language')['stargazers_count'].agg('mean').sort_values(ascending=False)[:1]

language
TSQL    571.230769
Name: stargazers_count, dtype: float64

## Q8
 Let's define leader_strength as followers / (1 + following). Who are the top 5 in terms of leader_strength? List their login in order, comma-separated.

In [12]:
leader_strength_df = users[['login', 'followers', 'following']].copy()
leader_strength_df['leader_strength'] = users['followers'] / (1 + users['following']) 
','.join(leader_strength_df.sort_values('leader_strength', ascending=False)[:5]['login'])

'kovidgoyal,coding-parrot,gkcs,slidenerd,dmalvia'

## Q9
What is the correlation between the number of followers and the number of public repositories among users in Mumbai?

Correlation between followers and repos (to 3 decimal places, e.g. 0.123 or -0.123)

In [13]:
users[['followers', 'public_repos']].corr()

              followers  public_repos
followers      1.000000      0.034493
public_repos   0.034493      1.000000

## Q10
Does creating more repos help users get more followers? Using regression, estimate how many additional followers a user gets per additional public repository.

Regression slope of followers on repos (to 3 decimal places, e.g. 0.123 or -0.123)

In [14]:
repos_vs_followers = np.polyfit(users['public_repos'], users['followers'], 1)
repos_vs_followers

array([1.00895228e-01, 1.50462094e+02])

## Q11
Do people typically enable projects and wikis together? What is the correlation between a repo having projects enabled and having wiki enabled?

Correlation between projects and wiki enabled (to 3 decimal places, e.g. 0.123 or -0.123)

In [15]:
repos[['has_wiki', 'has_projects']].corr()

              has_wiki  has_projects
has_wiki      1.000000      0.159566
has_projects  0.159566      1.000000

## Q12
Do hireable users follow more people than those who are not hireable?

Average of following per user for hireable=true minus the average following for the rest (to 3 decimal places, e.g. 12.345 or -12.345)

In [16]:
hireable_avg = users[users['hireable'] == True]['following'].mean()
non_hireable_avg = users[~(users['hireable'] == True)]['following'].mean()
hireable_avg-non_hireable_avg

np.float64(8.715590812295801)

## Q13
Some developers write long bios. Does that help them get more followers? What's the correlation of the length of their bio (in Unicode words, split by whitespace) with followers? (Ignore people without bios)

Regression slope of followers on bio word count (to 3 decimal places, e.g. 12.345 or -12.345)

In [17]:
biolen_followers = users[['followers', 'bio']].copy()
biolen_followers.dropna(inplace=True)
biolen_followers['bio_len'] = biolen_followers['bio'].apply(lambda n: len(n.split()))

bio_vs_followers = np.polyfit(biolen_followers['bio_len'], biolen_followers['followers'], 1)
bio_vs_followers[0]

np.float64(-0.49339510683854876)

## Q14
Who created the most repositories on weekends (UTC)? List the top 5 users' login in order, comma-separated

Users login

In [43]:
repos_time_conv = repos.copy()
repos_time_conv['created_day'] = pd.to_datetime(repos_time_conv['created_at']).dt.dayofweek
weekend_repos = repos_time_conv[repos_time_conv['created_day'].isin([5,6])]
','.join(weekend_repos.groupby('login').count().reset_index().sort_values('full_name', ascending=False)['login'][:5])

'Kushal334,alokproc,vinod1988,patilswapnilv,rajeshpillai'

In [63]:
weekend_stars = weekend_repos['stargazers_count'].mean()
weekday_repos = repos_time_conv[~repos_time_conv['created_day'].isin([5,6])]
weekday_stars = weekday_repos['stargazers_count'].mean()

print(f"{round(len(weekend_repos)/len(repos)*100,1)}% of all repos created over the weekends (which make up 2/7 ~ {round(2/7*100,1)}% of the week)")
print(weekend_stars, weekday_stars)

27.9% of all repos created over the weekends (which make up 2/7 ~ 28.6% of the week)
6.32850702271545 4.741110627031737

## Q15
Do people who are hireable share their email addresses more often?

[fraction of users with email when hireable=true] minus [fraction of users with email for the rest] (to 3 decimal places, e.g. 0.123 or -0.123)

In [19]:
hireable_email = users[users['hireable'] == True]['email']
non_hireable_email = users[users['hireable'].isna()]['email']

hireable_email.notna().mean()-non_hireable_email.notna().mean()

np.float64(0.221133995480924)

## Q16
Let's assume that the last word in a user's name is their surname (ignore missing names, trim and split by whitespace.) What's the most common surname? (If there's a tie, list them all, comma-separated, alphabetically)

In [20]:
user_surname_df = users[['name']].copy()
name_split = users['name'].str.split(' ', expand=True)

user_surname_df['last_name'] = name_split[1]
user_surname_df.groupby('last_name').count().reset_index().sort_values('name', ascending=False)[:1]

    last_name  name
368     Singh    18

# Extra Analysis

In [21]:
language_counts = repos['language'].value_counts().head(10)
most_popular_languages = language_counts.to_dict()

In [41]:
language_stars = repos.groupby('language')['stargazers_count'].agg(['mean', 'count'])
language_stars = language_stars[language_stars['count'] > 0.01*len(repos)].sort_values('mean', ascending=False)

In [23]:
repos['created_at'] = pd.to_datetime(repos['created_at'])
repos['creation_year'] = repos['created_at'].dt.year
yearly_repos = repos['creation_year'].value_counts().sort_index()

In [24]:
company_counts = users['company'].value_counts()
top_companies = company_counts[company_counts.index != ''].head(10)

In [25]:
users['created_at'] = pd.to_datetime(users['created_at'], utc=True)
now = datetime.datetime.now().replace(tzinfo=datetime.timezone.utc)
users['account_age_years'] = (now - users['created_at']).dt.total_seconds() / (365.25 * 24 * 60 * 60)

In [26]:
user_repo_stats = repos.groupby('login').agg({
    'stargazers_count': ['sum', 'mean'],
    'watchers_count': ['sum', 'mean'],
    'full_name': 'count'
}).reset_index()
user_repo_stats.columns = ['login', 'total_stars', 'avg_stars', 'total_watchers', 'avg_watchers', 'repo_count']

# Merge with users data
success_metrics = pd.merge(users, user_repo_stats, on='login', how='left')

In [27]:
correlation_metrics = success_metrics[['account_age_years', 'followers', 'repo_count', 'total_stars']].corr()

In [28]:
user_repo_stats.sort_values('avg_stars', ascending=False)

,login,total_stars,avg_stars,total_watchers,avg_watchers,repo_count
451,kovidgoyal,45796,1237.729730,45796,1237.729730,37
216,TechnitiumSoftware,4922,820.333333,4922,820.333333,6
530,prasadgujar,6685,215.645161,6685,215.645161,31
364,dr5hn,7566,184.536585,7566,184.536585,41
336,coding-parrot,1631,148.272727,1631,148.272727,11
...,...,...,...,...,...,...
113,Mohd-Ali2,0,0.000000,0,0.000000,17
508,nischal,0,0.000000,0,0.000000,1
210,Suryansh777777,0,0.000000,0,0.000000,29
214,TanmayGharat1505,0,0.000000,0,0.000000,43
150,Rahul5303,0,0.000000,0,0.000000,53

In [42]:
print("\n=== Key Insights ===")
print(f"\nTotal Users: {len(users)}")
print(f"Total Repositories: {len(repos)}")
# print(f"Total Followers: {total_followers}")

print("\n1. Programming Languages")
print("\nTop 5 Most Used Languages:")
for lang, count in list(most_popular_languages.items())[:5]:
    if pd.notna(lang):
        print(f"{lang}: {count} repositories")

print("\nLanguages with Highest Average Stars (min 1% of total repos):")
print(language_stars.head().to_string())

print("\n2. Top Companies")
print("\nMost Common Companies (excluding blanks):")
print(top_companies.head().to_string())

print("\n3. Success Correlations")
print("\nCorrelations between success metrics:")
print(correlation_metrics.round(2))

print("\n4. Repository Growth")
print("\nYearly repository creation trend:")
print(yearly_repos.tail().to_string())

=== Key Insights ===

Total Users: 725
Total Repositories: 41373

1. Programming Languages

Top 5 Most Used Languages:
JavaScript: 8163 repositories
Python: 4269 repositories
HTML: 2904 repositories
Java: 2291 repositories
Jupyter Notebook: 2237 repositories

Languages with Highest Average Stars (min 1% of total repos):
                 mean  count
language
Python      15.118529   4269
TypeScript   8.139852   1759
Dart         6.415525    657
Shell        5.532864    426
C++          5.452023    865

2. Top Companies

Most Common Companies (excluding blanks):
company
MASAI SCHOOL             14
BROWSERSTACK             13
FRAPPE                   10
IIT BOMBAY                9
ITM SKILLS UNIVERSITY     6

3. Success Correlations

Correlations between success metrics:
                   account_age_years  followers  repo_count  total_stars
account_age_years               1.00       0.06        0.21         0.16
followers                       0.06       1.00        0.06         0.52
repo_count                      0.21       0.06        1.00        -0.00
total_stars                     0.16       0.52       -0.00         1.00

4. Repository Growth

Yearly repository creation trend:
creation_year
2020    5786
2021    6132
2022    6785
2023    6168
2024    4047

In [64]:
import matplotlib.pyplot as plt

bins = [0, 5, 10, 15, 20, 25, 30, 35]
biolen_followers['binned'] = pd.cut(biolen_followers['bio_len'], bins)
biolen_followers.groupby('binned', observed=False)['followers'].mean().reset_index()

     binned   followers
0    (0, 5]  128.634409
1   (5, 10]  195.801282
2  (10, 15]  207.128205
3  (15, 20]  142.604396
4  (20, 25]  131.125000
5  (25, 30]  121.294118
6  (30, 35]  122.500000