In [52]:
import pandas as pd
import numpy as np

In [53]:
users = pd.read_csv('users.csv')
repos = pd.read_csv('repositories.csv')

In [54]:
users

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,ValentineFernandes,Valentine Fernandes,NaN,"Mumbai, India",NaN,NaN,HTML | CSS | JS | SQL | MYSQL | JAVA,66,5251,5274,2022-01-29T08:11:37Z
1,kovidgoyal,Kovid Goyal,NaN,"Mumbai, India",NaN,NaN,Principal developer of calibre and kitty,37,4294,0,2012-01-06T05:38:24Z
2,slidenerd,slidenerd,SLIDENERD,Mumbai,slidenerd@gmail.com,True,"Bots, AI, advanced web frameworks, ohlc applic...",113,3168,1,2013-08-01T14:17:19Z
3,aryashah2k,Arya Shah,OPENAOD,"Mumbai, India",NaN,NaN,Computer Science Major | Machine Learning | So...,88,2599,2583,2020-11-03T03:06:19Z
4,coding-parrot,Gaurav Sen,INTERVIEWREADY,"Mumbai, India",NaN,NaN,CEO of InterviewReady,11,2417,0,2020-01-03T14:13:35Z
...,...,...,...,...,...,...,...,...,...,...,...
735,Aftab7021,Aftab Uddin,NaN,Navi Mumbai India,NaN,NaN,Pursuing Computer Engineeringüßë‚Äçüíª at AIKTC(1st ...,4,50,22,2021-09-29T09:38:09Z
736,lokita282,Lokita Varma,NaN,Mumbai,NaN,NaN,NaN,29,50,43,2020-11-30T09:19:59Z
737,thejzany,Jay Sohani,NaN,"Mumbai, India",NaN,NaN,Coding My Way Through Life!\r\n,20,50,25,2023-03-11T13:53:23Z
738,ajaykakkar93,Ajay Kakkar,PREDOOLE ANALYTICS,Mumbai,ajaykakkar93@gmail.com,True,Web Developer & qlik sense developer,42,50,8,2016-11-24T10:35:13Z
739,Hiral25p,Hiral Patel,NaN,"Mumbai, Maharashtra, India",hiral.patel2@somaiya.edu,True,Aspiring Software Engineer.\r\n,21,50,101,2021-10-16T12:20:22Z

In [55]:
repos

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name
0,ValentineFernandes,ValentineFernandes/Food-Website,2022-06-01T17:20:57Z,54,54,HTML,True,True,mit
1,ValentineFernandes,ValentineFernandes/DentalClinic-Website,2022-06-02T10:28:55Z,60,60,HTML,True,True,mit
2,ValentineFernandes,ValentineFernandes/ValentineFernandes,2022-02-12T09:27:51Z,59,59,NaN,True,False,NaN
3,ValentineFernandes,ValentineFernandes/PetDog-Complete-Website,2022-03-24T07:17:59Z,55,55,HTML,True,True,mit
4,ValentineFernandes,ValentineFernandes/MySQL-Assignment,2022-10-10T13:59:53Z,12,12,NaN,True,True,mit
...,...,...,...,...,...,...,...,...,...
42034,Hiral25p,Hiral25p/Multilingual-Language-Translator,2023-11-15T20:14:49Z,0,0,NaN,True,False,NaN
42035,Hiral25p,Hiral25p/FreshFields,2023-03-21T14:31:24Z,0,0,HTML,True,True,mit
42036,Hiral25p,Hiral25p/bit-n-build-hackathon,2023-01-28T17:34:45Z,0,0,HTML,True,True,mit
42037,Hiral25p,Hiral25p/Disease-Prediction,2022-11-30T07:55:47Z,0,0,Python,True,True,NaN
42038,Hiral25p,Hiral25p/Book-Management-system,2022-07-01T18:50:53Z,0,0,Python,True,True,NaN

## Q1
 Who are the top 5 users in Mumbai with the highest number of followers? List their login in order, comma-separated.

In [56]:
','.join(users.sort_values('followers', ascending=False)[:5]['login'])

'ValentineFernandes,kovidgoyal,slidenerd,aryashah2k,coding-parrot'

## Q2
Who are the 5 earliest registered GitHub users in Mumbai? List their login in ascending order of created_at, comma-separated.

In [57]:
','.join(users.sort_values('created_at', ascending=True)[:5]['login'])

'ivank,sandeepshetty,svs,nitinhayaran,nischal'

## Q3
What are the 3 most popular license among these users? Ignore missing licenses. List the license_name in order, comma-separated.

In [58]:
license_counts = repos.groupby('license_name').count().reset_index()
','.join(license_counts.sort_values('login', ascending=False)[:3]['license_name'])

'mit,apache-2.0,other'

## Q4
Which company do the majority of these developers work at?

In [59]:
company_counts = users.groupby('company').count().reset_index()
company_counts.sort_values('login', ascending=False)[:1]['company']

194    MASAI SCHOOL
Name: company, dtype: object

## Q5
Which programming language is most popular among these users?

In [60]:
lang_counts = repos.groupby('language').count().reset_index()
lang_counts.sort_values('login', ascending=False)[:1]['language']

55    JavaScript
Name: language, dtype: object

## Q6
Which programming language is the second most popular among users who joined after 2020?

In [61]:
recent_user_logins = users[users['created_at'] > '2020-12-31']['login']
target_repos = repos[repos['login'].isin(recent_user_logins)]
recent_lang_counts = target_repos.groupby('language').count().reset_index()
recent_lang_counts.sort_values('login', ascending=False)[1:2]['language']

14    HTML
Name: language, dtype: object

## Q7
Which language has the highest average number of stars per repository?

In [62]:
repos.groupby('language')['stargazers_count'].agg('mean').sort_values(ascending=False)[:1]

language
TSQL    571.076923
Name: stargazers_count, dtype: float64

## Q8
 Let's define leader_strength as followers / (1 + following). Who are the top 5 in terms of leader_strength? List their login in order, comma-separated.

In [63]:
leader_strength_df = users[['login', 'followers', 'following']].copy()
leader_strength_df['leader_strength'] = users['followers'] / (1 + users['following']) 
','.join(leader_strength_df.sort_values('leader_strength', ascending=False)[:5]['login'])

'kovidgoyal,coding-parrot,gkcs,slidenerd,dmalvia'

## Q9
What is the correlation between the number of followers and the number of public repositories among users in Mumbai?

Correlation between followers and repos (to 3 decimal places, e.g. 0.123 or -0.123)

In [64]:
users[['followers', 'public_repos']].corr()

              followers  public_repos
followers      1.000000      0.035193
public_repos   0.035193      1.000000

## Q10
Does creating more repos help users get more followers? Using regression, estimate how many additional followers a user gets per additional public repository.

Regression slope of followers on repos (to 3 decimal places, e.g. 0.123 or -0.123)

In [77]:
repos_vs_followers = np.polyfit(users['public_repos'], users['followers'], 1)
repos_vs_followers

array([1.02920854e-01, 1.48256638e+02])

## Q11 (NaN?)
Do people typically enable projects and wikis together? What is the correlation between a repo having projects enabled and having wiki enabled?

Correlation between projects and wiki enabled (to 3 decimal places, e.g. 0.123 or -0.123)

In [76]:
repos[['has_wiki', 'has_projects']].corr()

              has_wiki  has_projects
has_wiki      1.000000      0.159412
has_projects  0.159412      1.000000

## Q12 (NaN)
Do hireable users follow more people than those who are not hireable?

Average of following per user for hireable=true minus the average following for the rest (to 3 decimal places, e.g. 12.345 or -12.345)

In [66]:
hireable_avg = users[users['hireable'] == True]['following'].mean()
non_hireable_avg = users[~(users['hireable'] == True)]['following'].mean()
hireable_avg-non_hireable_avg

np.float64(6.886097736840881)

## Q13
Some developers write long bios. Does that help them get more followers? What's the correlation of the length of their bio (in Unicode words, split by whitespace) with followers? (Ignore people without bios)

Regression slope of followers on bio word count (to 3 decimal places, e.g. 12.345 or -12.345)

In [90]:
biolen_followers = users[['followers', 'bio']].copy()
biolen_followers.dropna(inplace=True)
biolen_followers['bio_len'] = biolen_followers['bio'].apply(lambda n: len(n.split()))

bio_vs_followers = np.polyfit(biolen_followers['bio_len'], biolen_followers['followers'], 1)
bio_vs_followers[0]

np.float64(-0.3022805561315707)

## Q14
Who created the most repositories on weekends (UTC)? List the top 5 users' login in order, comma-separated

Users login

In [115]:
repos_time_conv = repos.copy()
repos_time_conv['created_day'] = pd.to_datetime(repos_time_conv['created_at']).dt.dayofweek
weekend_repos = repos_time_conv[repos_time_conv['created_day'].isin([5,6])]
','.join(weekend_repos.groupby('login').count().reset_index().sort_values('full_name', ascending=False)['login'][:5])

'Kushal334,alokproc,vinod1988,patilswapnilv,rajeshpillai'

## Q15 (NaN)
Do people who are hireable share their email addresses more often?

[fraction of users with email when hireable=true] minus [fraction of users with email for the rest] (to 3 decimal places, e.g. 0.123 or -0.123)

In [117]:
total_count = len(users)
email_df = users[users['email'].notna()]
hireable_email_count = (email_df["hireable"].notna()).sum()
non_hireable_email_count = (email_df["hireable"].isna()).sum()
#(hireable_email_count - non_hireable_email_count)/total_count
(email_df["hireable"].notna()).mean()-(email_df["hireable"].isna()).mean()
# (email_df["hireable"].isna()).()

np.float64(-0.005847953216374269)

In [69]:
fraction_hierable = users[users['hireable'] == True]['email'].notna().mean()
fraction_non_hierable = users[users['hireable'].isna()]['email'].notna().mean()
diff = fraction_hierable - fraction_non_hierable
diff

np.float64(0.23025453756037811)

## Q16
Let's assume that the last word in a user's name is their surname (ignore missing names, trim and split by whitespace.) What's the most common surname? (If there's a tie, list them all, comma-separated, alphabetically)

In [70]:
user_surname_df = users[['name']].copy()
name_split = users['name'].str.split(' ', expand=True)

user_surname_df['last_name'] = name_split[1]
user_surname_df.groupby('last_name').count().reset_index().sort_values('name', ascending=False)[:1]

    last_name  name
373     Singh    19