In [1]:
import pandas as pd
import numpy as np

In [2]:
users = pd.read_csv('users.csv')
repos = pd.read_csv('repositories.csv')

In [3]:
users

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,ValentineFernandes,Valentine Fernandes,NaN,"Mumbai, India",NaN,NaN,HTML | CSS | JS | SQL | MYSQL | JAVA,66,5250,5274,2022-01-29T08:11:37Z
1,kovidgoyal,Kovid Goyal,NaN,"Mumbai, India",NaN,NaN,Principal developer of calibre and kitty,37,4296,0,2012-01-06T05:38:24Z
2,slidenerd,slidenerd,SLIDENERD,Mumbai,slidenerd@gmail.com,True,"Bots, AI, advanced web frameworks, ohlc applic...",113,3167,1,2013-08-01T14:17:19Z
3,aryashah2k,Arya Shah,OPENAOD,"Mumbai, India",NaN,NaN,Computer Science Major | Machine Learning | So...,88,2600,2583,2020-11-03T03:06:19Z
4,coding-parrot,Gaurav Sen,INTERVIEWREADY,"Mumbai, India",NaN,NaN,CEO of InterviewReady,11,2416,0,2020-01-03T14:13:35Z
...,...,...,...,...,...,...,...,...,...,...,...
733,alandsilva26,Alan Dsilva,ST. FRANCIS INSTITUTE OF TECHNOLOGY,"Mumbai, India",alandsilva2001@gmail.com,NaN,Aspiring software developer.,51,50,47,2019-02-19T05:18:01Z
734,lokita282,Lokita Varma,NaN,Mumbai,NaN,NaN,NaN,29,50,43,2020-11-30T09:19:59Z
735,thejzany,Jay Sohani,NaN,"Mumbai, India",NaN,NaN,Coding My Way Through Life!\r\n,20,50,25,2023-03-11T13:53:23Z
736,ajaykakkar93,Ajay Kakkar,PREDOOLE ANALYTICS,Mumbai,ajaykakkar93@gmail.com,True,Web Developer & qlik sense developer,42,50,8,2016-11-24T10:35:13Z
737,Hiral25p,Hiral Patel,NaN,"Mumbai, Maharashtra, India",hiral.patel2@somaiya.edu,True,Aspiring Software Engineer.\r\n,21,50,101,2021-10-16T12:20:22Z

In [4]:
repos

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name
0,ValentineFernandes,ValentineFernandes/Food-Website,2022-06-01T17:20:57Z,54,54,HTML,True,True,mit
1,ValentineFernandes,ValentineFernandes/DentalClinic-Website,2022-06-02T10:28:55Z,60,60,HTML,True,True,mit
2,ValentineFernandes,ValentineFernandes/ValentineFernandes,2022-02-12T09:27:51Z,59,59,NaN,True,False,NaN
3,ValentineFernandes,ValentineFernandes/PetDog-Complete-Website,2022-03-24T07:17:59Z,55,55,HTML,True,True,mit
4,ValentineFernandes,ValentineFernandes/MySQL-Assignment,2022-10-10T13:59:53Z,12,12,NaN,True,True,mit
...,...,...,...,...,...,...,...,...,...
41982,Hiral25p,Hiral25p/Multilingual-Language-Translator,2023-11-15T20:14:49Z,0,0,NaN,True,False,NaN
41983,Hiral25p,Hiral25p/FreshFields,2023-03-21T14:31:24Z,0,0,HTML,True,True,mit
41984,Hiral25p,Hiral25p/bit-n-build-hackathon,2023-01-28T17:34:45Z,0,0,HTML,True,True,mit
41985,Hiral25p,Hiral25p/Disease-Prediction,2022-11-30T07:55:47Z,0,0,Python,True,True,NaN
41986,Hiral25p,Hiral25p/Book-Management-system,2022-07-01T18:50:53Z,0,0,Python,True,True,NaN

## Q1
 Who are the top 5 users in Mumbai with the highest number of followers? List their login in order, comma-separated.

In [5]:
','.join(users.sort_values('followers', ascending=False)[:5]['login'])

'ValentineFernandes,kovidgoyal,slidenerd,aryashah2k,coding-parrot'

## Q2
Who are the 5 earliest registered GitHub users in Mumbai? List their login in ascending order of created_at, comma-separated.

In [6]:
','.join(users.sort_values('created_at', ascending=True)[:5]['login'])

'ivank,sandeepshetty,svs,nitinhayaran,nischal'

## Q3
What are the 3 most popular license among these users? Ignore missing licenses. List the license_name in order, comma-separated.

In [7]:
license_counts = repos.groupby('license_name').count().reset_index()
','.join(license_counts.sort_values('login', ascending=False)[:3]['license_name'])

'mit,apache-2.0,other'

## Q4
Which company do the majority of these developers work at?

In [8]:
company_counts = users.groupby('company').count().reset_index()
company_counts.sort_values('login', ascending=False)[:1]['company']

193    MASAI SCHOOL
Name: company, dtype: object

## Q5
Which programming language is most popular among these users?

In [9]:
lang_counts = repos.groupby('language').count().reset_index()
lang_counts.sort_values('login', ascending=False)[:1]['language']

55    JavaScript
Name: language, dtype: object

## Q6
Which programming language is the second most popular among users who joined after 2020?

In [10]:
recent_user_logins = users[users['created_at'] > '2020-12-31']['login']
target_repos = repos[repos['login'].isin(recent_user_logins)]
recent_lang_counts = target_repos.groupby('language').count().reset_index()
recent_lang_counts.sort_values('login', ascending=False)[1:2]['language']

14    HTML
Name: language, dtype: object

## Q7
Which language has the highest average number of stars per repository?

In [11]:
repos.groupby('language')['stargazers_count'].agg('mean').sort_values(ascending=False)[:1]

language
TSQL    571.153846
Name: stargazers_count, dtype: float64

## Q8
 Let's define leader_strength as followers / (1 + following). Who are the top 5 in terms of leader_strength? List their login in order, comma-separated.

In [12]:
leader_strength_df = users[['login', 'followers', 'following']].copy()
leader_strength_df['leader_strength'] = users['followers'] / (1 + users['following']) 
','.join(leader_strength_df.sort_values('leader_strength', ascending=False)[:5]['login'])

'kovidgoyal,coding-parrot,gkcs,slidenerd,dmalvia'

## Q9
What is the correlation between the number of followers and the number of public repositories among users in Mumbai?

Correlation between followers and repos (to 3 decimal places, e.g. 0.123 or -0.123)

In [13]:
users[['followers', 'public_repos']].corr()

              followers  public_repos
followers      1.000000      0.035095
public_repos   0.035095      1.000000

## Q10
Does creating more repos help users get more followers? Using regression, estimate how many additional followers a user gets per additional public repository.

Regression slope of followers on repos (to 3 decimal places, e.g. 0.123 or -0.123)

In [14]:
repos_vs_followers = np.polyfit(users['public_repos'], users['followers'], 1)
repos_vs_followers

array([1.02646686e-01, 1.48451971e+02])

## Q11
Do people typically enable projects and wikis together? What is the correlation between a repo having projects enabled and having wiki enabled?

Correlation between projects and wiki enabled (to 3 decimal places, e.g. 0.123 or -0.123)

In [15]:
repos[['has_wiki', 'has_projects']].corr()

              has_wiki  has_projects
has_wiki      1.000000      0.159695
has_projects  0.159695      1.000000

## Q12
Do hireable users follow more people than those who are not hireable?

Average of following per user for hireable=true minus the average following for the rest (to 3 decimal places, e.g. 12.345 or -12.345)

In [16]:
hireable_avg = users[users['hireable'] == True]['following'].mean()
non_hireable_avg = users[~(users['hireable'] == True)]['following'].mean()
hireable_avg-non_hireable_avg

np.float64(7.34942722608757)

## Q13
Some developers write long bios. Does that help them get more followers? What's the correlation of the length of their bio (in Unicode words, split by whitespace) with followers? (Ignore people without bios)

Regression slope of followers on bio word count (to 3 decimal places, e.g. 12.345 or -12.345)

In [17]:
biolen_followers = users[['followers', 'bio']].copy()
biolen_followers.dropna(inplace=True)
biolen_followers['bio_len'] = biolen_followers['bio'].apply(lambda n: len(n.split()))

bio_vs_followers = np.polyfit(biolen_followers['bio_len'], biolen_followers['followers'], 1)
bio_vs_followers[0]

np.float64(-0.35515127041269173)

## Q14
Who created the most repositories on weekends (UTC)? List the top 5 users' login in order, comma-separated

Users login

In [18]:
repos_time_conv = repos.copy()
repos_time_conv['created_day'] = pd.to_datetime(repos_time_conv['created_at']).dt.dayofweek
weekend_repos = repos_time_conv[repos_time_conv['created_day'].isin([5,6])]
','.join(weekend_repos.groupby('login').count().reset_index().sort_values('full_name', ascending=False)['login'][:5])

'Kushal334,alokproc,vinod1988,patilswapnilv,rajeshpillai'

## Q15
Do people who are hireable share their email addresses more often?

[fraction of users with email when hireable=true] minus [fraction of users with email for the rest] (to 3 decimal places, e.g. 0.123 or -0.123)

In [19]:
hireable_email = users[users['hireable'] == True]['email']
non_hireable_email = users[users['hireable'].isna()]['email']

hireable_email.notna().mean()-non_hireable_email.notna().mean()

np.float64(0.22882844894230098)

## Q16
Let's assume that the last word in a user's name is their surname (ignore missing names, trim and split by whitespace.) What's the most common surname? (If there's a tie, list them all, comma-separated, alphabetically)

In [20]:
user_surname_df = users[['name']].copy()
name_split = users['name'].str.split(' ', expand=True)

user_surname_df['last_name'] = name_split[1]
user_surname_df.groupby('last_name').count().reset_index().sort_values('name', ascending=False)[:1]

    last_name  name
372     Singh    18